<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

 	<security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

	<display-name>MISO 3.0</display-name>

	<!-- Spring MVC -->
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-security.xml,
			/WEB-INF/spring-database.xml
		</param-value>
	</context-param>

	<!-- Spring Security -->
	 <filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
    	<servlet-name>datatablesController</servlet-name>
    	<servlet-class>com.github.dandelion.datatables.extras.servlet2.servlet.DatatablesServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>datatablesController</servlet-name>
    	<url-pattern>/datatablesController/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
		<servlet-name>dandelionServlet</servlet-name>
    	<servlet-class>com.github.dandelion.core.web.DandelionServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>dandelionServlet</servlet-name>
    	<url-pattern>/dandelion-assets/*</url-pattern>
  	</servlet-mapping>
  	
  		<servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
        <param-name>mappedfile</param-name>
        <param-value>false</param-value>
    </init-param>
    </servlet>
    
  	
  	
  	 <filter>
    	<filter-name>dandelionFilter</filter-name>
    	<filter-class>com.github.dandelion.core.web.DandelionFilter</filter-class>
  	</filter>
  	<filter-mapping>
		<filter-name>dandelionFilter</filter-name>
	    <url-pattern>/*</url-pattern>
  	</filter-mapping> 
  	<filter>
	    <filter-name>datatables</filter-name>
	    <filter-class>com.github.dandelion.datatables.core.web.filter.DatatablesFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>datatables</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
	<error-page>
    	<error-code>403</error-code>  
    	<location>/login</location>
   	</error-page>
	<error-page>  
       	<error-code>404</error-code>  
        <location>/404</location>
    </error-page>   
	<error-page>  
    	<error-code>400</error-code>  
    	<location>/400</location>
   	</error-page>
   	<error-page>  
    	<error-code>405</error-code>  
    	<location>/405</location>
   	</error-page>    
	<error-page>  
    	<error-code>500</error-code>  
    	<location>/500</location> 
   	</error-page>
   	<error-page>  
    	<error-code>505</error-code>  
    	<location>/505</location>
   	</error-page>
  	  	
  	<mime-mapping>
    	<extension>svg</extension>
    	<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
    	<extension>pdf</extension>
    	<mime-type>application/pdf</mime-type>
	</mime-mapping>
  	<session-config>
  		<session-timeout>10</session-timeout> <!-- session 10 minutes -->
  	</session-config>
  	
  	 <!--start antiCross Site Scripting -->
	 <context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param> 
	<!-- Disables appending JSESSSIONID in browser address bar/requests -->
	<context-param>
	    <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name>
	    <param-value>none</param-value>
	</context-param>
	
	<filter> 
		<filter-name>XSSFilter</filter-name> 
		<filter-class>com.cj.xss.XSSFilter</filter-class><!--using  xssflt.jar lib-->
	</filter>
	<filter-mapping> 
  		<filter-name>XSSFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- <filter> 
		<filter-name>EncodingFilter</filter-name> 
	  	<filter-class>com.cj.encflt.EncodingFilter</filter-class> 
	  	<init-param> 
	    	<param-name>encoding</param-name> 
	    	<param-value>your_encoding</param-value>  using encflt.jar lib
		</init-param> 
	</filter> -->
	<!-- <filter-mapping> 
  		<filter-name>EncodingFilter</filter-name> 
  		<url-pattern>/*.jsp</url-pattern> 
	</filter-mapping> -->
	<!--end antiCross Site Scripting -->
</web-app>